* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.row {
  content: "";
  display: table;
  clear: both;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

/* ------------------------------------------- */

/* Parte alta dello schermo */

.container-top-page {
  height: calc(100vh - 75px);
  display: flex;
}

.sidebar {
  height: 100%;
  width: 200px;
  background-color: black;
}

.main-page-album {
  width: calc(100% - 200px);
  height: 100%;
  background-color: #141922;
  overflow-y: auto;
  padding-top: 80px;
}

.album {
  width: 200px;
  height: 200px;
  background-color: crimson;
  margin: 15px;
}

.header-upgrade {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgba(8, 11, 18, 0.5);
  top: 0;
}

.upgrade-button {
  border: 1px solid white;
  border-radius: 20px;
  font-size: 11px;
  width: 200px;
  text-align: center;
  padding: 10px 0;
  right: 220px;
  top: 18px;
}

.upgrade-button:hover {
  font-size: 12px;
}

.upgrade-button > a {
  color: white;
}

/*  */

/* Sidebar */
.logo-container {
  margin: 18px;
}

.logo-container > img:first-child {
  width: 120px;
}
.logo-nascosto {
  width: 20px;
  display: none;
}

.navbar {
  padding-top: 8px;
  height: 400px;
}

.column {
  margin-bottom: 5px;
  padding: 0px 18px;
  color: #616161;
  width: 100%;
  height: 30px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
}

.column:hover {
  border-left: 3px solid #a5f42d;
  color: white;
}

.sidebar-icon {
  width: 22px;
  vertical-align: middle;
}

.playlist-container {
  padding: 8px 18px;
  color: #616161;
}

.playlist-container .new-playlist > h5 {
  padding-bottom: 8px;
  color: #fff;
  font-size: 12px;
}

.fa-plus-square {
  font-size: 40px;
  vertical-align: middle;
  color: #a3a3a3;
  padding-right: 5px;
}

.new-playlist div > span {
  font-weight: bold;
  font-size: 13px;
}

.new-playlist div:hover,
.new-playlist div > i:hover {
  color: white;
}

.existent-playlist {
  padding-top: 18px;
}

.playlist-name {
  width: 100%;
  color: #616161;
  padding-bottom: 18px;
  font-size: 12px;
  font-weight: bold;
}

.playlist-name:hover {
  color: white;
  cursor: pointer;
}

.macro-1-footer {
  /* border: 1px solid white; */
  width: 200px;
  height: 60px;
  padding: 0px 18px;
  color: #616161;
  font-size: 11px;
  font-weight: bold;
  top: calc(100% - 140px);
}

.macro-1-footer > div:first-child {
  border-bottom: 1px solid #616161;
  padding-bottom: 8px;
  cursor: pointer;
}

.macro-1-footer > div:first-child:hover {
  color: #fff;
}

.footer-macro-1-icon {
  width: 14px;
  vertical-align: middle;
}

.image-profile {
  background-color: #808080;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.image-profile img {
  width: 10px;
}

.macro-1-footer > div:last-child {
  padding-top: 10px;
  display: inline-block;
  cursor: pointer;
}

.macro-1-footer > div:last-child span {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
/*  */

/* Footer */

.music-commands {
  height: 75px;
  background-color: #282828;
  display: flex;
}

.left-footer,
.right-footer {
  width: 200px;
  max-width: calc(100% / 3);
  height: 100%;
  display: flex;
  align-items: center;

  /* Debug */
  /* background-color: darkblue; */
}

.mid-footer {
  width: calc(100% - 600px);
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
}

/* Left-Nav */
.song-img img {
  width: 40px;
  margin: 0 10px;
}

.text-left-nav {
  color: white;
  margin-right: 30px;
}

.text-left-nav div {
  color: #787878;
  font-size: 10px;
  font-weight: bold;
}

.text-left-nav div:hover {
  color: #fff;
  text-decoration: underline;
}

.left-nav-icons {
  color: #787878;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
}

.left-nav-icons span:hover {
  color: white;
}

.fa-folder {
  padding-left: 10px;
}
/*  */

/* Right-nav */
.right-nav-icons {
  color: white;
  font-size: 13px;
  display: flex;
}

.right-nav-icons span {
  padding-right: 15px;
}

.volume-bar {
  margin-right: 10px;
  width: 80%;
  height: 4px;
  background-color: #787878;
  border-radius: 20px;
}

.volume {
  width: 20px;
  height: 4px;
  border-radius: 20px;
  background-color: white;
}

.volume-ball {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: white;
  top: -4px;
  left: 15px;
  display: none;
}

.volume:hover {
  background-color: yellowgreen;
}

.volume:hover + .volume-ball {
  display: inline-block;
}
/*  */

/* Mid-Nav */
.volume-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volume-container > .tempo {
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.volume-bar-mid {
  margin: 0 25px;
  width: 35%;
  height: 4px;
  background-color: #787878;
  border-radius: 20px;
}

.icon-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid-icons {
  color: white;
  padding: 0 10px;
  transition: 0.5s;
}

.fa-play-circle {
  font-size: 30px;
  margin: 9px 20px;
  transition: 0.5s;
}

.fa-play-circle:hover {
  font-size: 32px;
  margin: 8px 19px;
}

[class*="fa-caret"] {
  font-size: 25px;
}
/*  */
/*  */

/* MediaQuery */
@media screen and (min-width: 320px) and (max-width: 575px) {
  .sidebar {
    width: 50px;
  }

  .logo-container img:first-child {
    display: none;
  }

  .logo-container {
    position: relative;
    margin-bottom: 10px;
    right: 2px;
  }

  .logo-nascosto {
    display: inline-block;
  }

  .macro-1-footer > div:first-child {
    border-bottom: 0px solid #616161;
    padding-bottom: 8px;
    cursor: pointer;
  }

  .upgrade-button {
    right: 65px;
  }

  .image-profile {
    position: absolute;
    background-color: #808080;
    border-radius: 50%;
    vertical-align: middle;
    right: -23px;
  }

  .macro-1-footer > div:last-child {
    padding-top: 10px;
    display: inline-block;
    cursor: pointer;
  }
  /* .logo-container {
  } */

  .macro-1-footer span {
    display: none;
  }

  .macro-1-footer > div:last-child > span {
    display: none;
  }

  .navbar span {
    display: none;
  }

  .navbar img {
    position: absolute;
    left: 14px;
  }

  .playlist-container {
    display: none;
  }

  .main-page-album {
    width: calc(100% - 50px);
  }
}

@media screen and (max-height: 600px) {
  .macro-1-footer {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .fa-play-circle {
    font-size: 30px;
    margin: 9px 5px;
  }

  .fa-play-circle:hover {
    font-size: 32px;
    margin: 8px 4px;
  }

  .mid-icons {
    color: white;
    padding: 0 5px;
  }
}
/*  */
